{{ 'custome.css' | asset_url | stylesheet_tag }}
{% style %}
  .padding-{{ section.id }} {
    padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
    padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
  }
  @media (min-width: 750px) {
    .padding-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  .background-{{ section.id }} {
      background: {{ section.settings.background_color }};
    }
    .image_background-{{ section.id }} {
      background: {{ section.settings.image_background_color }};
    }
      .heading__text--color {
        color: {{section.settings.heading_color}};
      }
      .body_text--color {
        color: {{section.settings.text_color}};  
      } 
    {% endstyle %}
<div class="padding-{{ section.id }}">
<div class="background-{{ section.id }}">
    <div class="image_background-{{ section.id }}">
        <div>
            {% assign product = all_products[section.settings.product] %}
        </div>
        <a href="{{ product.url }}" class="product-card__link">
            <div class="deal-of-the day-skeleton">
                {% render 'image', class: '', mobileSrc: product.featured_image, desktopSrc: product.featured_image %} 
            </div> 
            <div>
                {{ product.title }}
            </div>
            <div>
                {{  product.price | money_without_trailing_zeros }}
            </div>
            <div>
                <del>{{ product.compare_at_price | money_without_trailing_zeros }}</del>
            </div>
        </a>
    </div>
    <div class="">
        {% if section.settings.button_text != blank and section.settings.button_link != blank %}
        <div class="">
            <a href="{{ section.settings.button_link }}" class="button-view-all"> {{ section.settings.button_text }} </a>
        </div>
        <div>
            {% render 'greater-icon' %}
        </div>
        {% endif %}
    </div>
    <div class=" ">
        {% if section.settings.heading != blank  %}
        <h3 class="heading__text--color"> {{ section.settings.heading }}</h3>
        {% endif %}
    </div>
    <div>
        {% if section.settings.sub_text != blank %}
        <h4 class="body_text--color">  {{ section.settings.sub_text }}</h4>
        {% endif %}
    </div>
    <div>
        {% if section.settings.html != blank %}
        <h4 class="body_text--color">  {{ section.settings.html }}</h4>
        {% endif %}
    </div>
    <div>
        {% if section.settings.target_time != blank %}
        <h4 class="body_text--color">  {{ section.settings.target_time }}</h4>
        {% endif %}
    </div>
</div>
     
</div>  

{% schema %}
{
  "name": "deal-of-the-day",
  "tag": "section",
  "class": "section",
  "settings": [ 
      {
          "type":"product",
          "id":"product",
          "label":"Product"
      },
      {
          "type": "text",
          "id": "button_text",
          "label": "Button label",
          "default": "Shop Now"
           
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
            "type": "color",
            "id": "image_background_color",
            "label": " Image Background color",
            "default":"#F6F6F7"
  
          },  
      {
          "type": "color",
          "id": "background_color",
          "label": "Background color",
          "default":"#fff"

        }, 
      {
          "type":"text",
          "id":"heading",
          "label":"Heading",
          "default":"Deal of the Day"
      },
      {
          "type": "color",
          "id": "heading_color",
          "label": "Headig Color",
          "default": "#0f0"
        },
      {
          "type":"text",
          "id":"sub_text",
          "label":"Sub Text",
          "default":"ENDS IN"
      },
      {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#fff"
        },
      {
          "type":"html",
          "id":"html",
          "label":"html"
      },
      {
          "type": "text", 
          "id": "target_time",
          "label": "Target Time",
          "info": "Time format: HH:MM"
        },
        {
            "type": "header",
            "content": "Section padding"
          },
          {
            "type": "range",
            "id": "padding_top",
            "min": 10,
            "max": 100,
            "step": 5,
            "unit": "px",
            "label": "Padding top",
            "default": 40
          },
          {
            "type": "range",
            "id": "padding_bottom",
            "min": 10,
            "max": 100,
            "step": 5,
            "unit": "px",
            "label": "Padding bottom",
            "default": 40
          }
  ],
  "presets": [
      {
        "name": "deal-of-the-day"
        }
    ]
}
{% endschema %}
