 {% style %}
  .section-padding-{{ section.id }} {
    padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
    padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
  }
  @media (min-width: 750px) {
    .section-padding-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  .image_background-{{ section.id }} {
    background: {{ section.settings.image_background_color }};
  }
  .heading__text--color-{{ section.id }} {
    color: {{section.settings.heading_color}};
  }
  .body_text--color-{{ section.id }} {
    color: {{section.settings.text_color}};  
  } 
{% endstyle %}

<div class="section-padding-{{ section.id }}">
  <div class="padding-{{ section.id }} deal-of__the-day-main">
    <div class="deal-of-the-day-container">
    <div class="deal-of-the-day-content"> 
      {% if section.settings.heading != blank  %}
        <div class="heading__text--color-{{ section.id }} h5"> {{ section.settings.heading }}</div>
      {% endif %} 
      {% if section.settings.sub_text != blank %}
        <div class="body_text--color-{{ section.id }} sub-text-txt deal-of-the-day-sub___text small-element-4">{{ section.settings.sub_text }}</div>
      {% endif %}
      <div class="deal-of-the-day-svg">
        {% if section.settings.html != blank %}
            <div class="body_text--color-{{ section.id }} deal-of-the-day-html">  {{ section.settings.html }}</div>
        {% endif %}    
        <div id="clockdiv"> 
          <div class="clockdiv-item">
            <span class="hours h6" id="hour"></span>
            <div class="smalltext small-element-6 time__font__size"><strong>  HRS </strong></div>
          </div> 
          <div class="clockdiv-item">
            <span class="minutes h6" id="minute"></span>
            <div class="smalltext small-element-6 time__font__size"><strong>  MIN </strong></div>
          </div>  
        </div>
        <p id="output_element"></p>
      </div>
     </div>
    </div> 
  </div>
  <div class="image_background-{{ section.id }} deal-of-the-day-product__info"> 
    {% assign product = all_products[section.settings.product] %} 
    <a href="{{ product.url }}" class="product-card__link">
      <div class="deal-of-the-product__img">
        {% render 'image', class: '', mobileSrc: product.featured_image, desktopSrc: product.featured_image %} 
      </div>
      <div class="product__info">   
        <div class="deal_of_the_day_product-content">
          <span class="deal-product-title small-element-1">  {{ product.title }}</span>
        </div>
        <div class="deal-of-the-day-product-price small-element-3"> 
          <span>{{ product.price | money_without_trailing_zeros }}  </span>
          <del>{{ product.compare_at_price | money_without_trailing_zeros }}</del>
        </div>
        <div class="deal-of-the-day-button">
          {% if section.settings.button_text != blank and section.settings.button_link != blank %}
            <div class="deal-of-the-day-button-content">
              <a href="{{ section.settings.button_link }}" class="button-view-all font-body-text"> {{ section.settings.button_text }} </a>
            </div>
            <div class="deal-of-the-day-svg">
              {% render 'greater-icon-black' %}
            </div>
          {% endif %}
        </div>
      </div> 
    </a>   
  </div>
</div>

{% schema %}
{
  "name": "deal-of-the-day",
  "tag": "section",
  "class": "section deal-of__the-day-section",
  "settings": [ 
      {
          "type":"product",
          "id":"product",
          "label":"Product"
      },
      {
          "type": "text",
          "id": "button_text",
          "label": "Button label",
          "default": "Shop Now"
           
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
            "type": "color",
            "id": "image_background_color",
            "label": " Image Background color",
            "default":"#F6F6F7"
  
        },  
        {
            "type":"text",
            "id":"heading",
            "label":"Heading",
            "default":"Deal of the Day"
        },
        {
            "type": "color",
            "id": "heading_color",
            "label": "Headig Color",
            "default": "#0f0"
        },
        {
          "type":"text",
          "id":"sub_text",
          "label":"Sub Text",
          "default":"ENDS IN"
        },
        {
          "type": "text",
          "id": "end_time",
          "label": "Sale end time",
          "info": "Please add Time in this format(Jan 28, 2022 20:37:25)"
        },
        {
          "type": "text",
          "id": "end_msg",
          "label": "Sale end message"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
            "default": "#fff"
        },
        {
            "type":"html",
            "id":"html",
            "label":"Timer Icon"
        }, 
        {
            "type": "header",
            "content": "Section padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 10,
            "max": 100,
            "step": 5,
            "unit": "px",
            "label": "Padding top",
            "default": 40
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 10,
            "max": 100,
            "step": 5, 
            "unit": "px",
            "label": "Padding bottom",
            "default": 40
        }
  ],
  "presets": [
      {
        "name": "deal-of-the-day"
        }
    ]
}
{% endschema %}
   
<script>
  const deadline = new Date("{{ section.settings.end_time }}").getTime();
  var x = setInterval(function () {
    var now = new Date().getTime();
    var t = deadline - now;
    
    var days = Math.floor(t / (1000 * 60 * 60 * 24));
    var hours = Math.floor((t % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
    
    // Add days to hours if there are more than 24 hours
    hours += days * 24;
  
    // Display hours and minutes
    document.getElementById("hour").innerHTML = hours;
    document.getElementById("minute").innerHTML = minutes;
  
    if (t < 0) {
      clearInterval(x);
      document.getElementById("output_element").innerHTML = "{{ section.settings.end_msg }}";
      document.getElementById("hour").innerHTML = "0";
      document.getElementById("minute").innerHTML = "0";
    }
  }, 1000);
  </script>